.notification-items{
    border: 2px dotted #e1003c;
    padding: 5px;
    overflow: hidden;
}
.notification-items button {
  float: right;
}

[data-priority="default"] {
  color: blue;
}

[data-priority="urgent"] {
  color: red;
}
